* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.variant-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.variant-wrapper.active {
  background-color: #ffcc00; 
  border-color: #ff9900;     
}

.variant-wrapper:hover {
  background-color: #f0f0f0;
}